h1, h5 {
    text-align: center;
}

header {
    width: 100%;
    height: 150px;
    background-color: #7790b0;
    color: white;
    margin-bottom: 20px;
}

body {
    background-color: black;
    color: white;
}

.article-main {
    border: yellow outset;
    margin-bottom: 15px;
    margin-right: 15px;
    display: inline-block;
    width: 40%;
    
}

.article-main:hover {
    background-color: rgba(157, 157, 157, 0.4);
    cursor: pointer;
}

hr {
    width: 90%;
    color: yellow;
}

#comment-form {
    text-align: center;
}

#article {
    text-align: center;
}

input{
    margin-top: 5px;
    border-radius: 15px;
    text-align: center;
}

#image-article {

    width: 300px;
    margin-left: 5%;
    margin-right: 5%;

}

#contenu-article {
    text-align: center;
    margin-bottom: 30px;

}

#article-cont {
    display: inline-block;
    width: 35%;


}
#name{
    display: inline;
}
#pass{
    display: inline;
}
#but-log{
    display: inline;
}

@media (max-width: 775px) {


    .article-main {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #name{
        display: block;
        margin-left: 40px;
    }
    #pass{
        display: block;
        margin-left: 5px;
        margin-bottom: 5px;
    }
    #but-log{
        margin-left: 100px;
    }

}

@media (max-width: 1000px) {

    #article-cont{
        width: 100%;

    }
}
.button-header{
    background-color: white;
    color: #7790b0;
}
#but{
    text-align: center;

}
a{

    background-color: #7790b0;
    color: white;
    padding: 2px 4px 2px 4px;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;

}
button{

    background-color: #7790b0;
    color: white;
    padding: 2px 4px 2px 4px;
    border-radius: 15px;
    border: none;

}

textarea{

    border-radius: 15px;
    text-align: center;
    margin-bottom: 10px;
}

#commentaire{

}
#link-comments{
    float: right ;
}
#formulaire{
    margin: auto;
    width: 10%;
    text-align: center;
}