{% extends 'base.html.twig' %}

{% block title %}Edit Comments{% endblock %}


{% if is_granted('ROLE_USER') %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("css/blog.css") }}"> {% endblock %}
{% endif %}

{% block body %}
    <h1>modifier commentaire</h1>

    {{ include('comments/_form.html.twig', {'button_label': 'Update'}) }}




{% endblock %}
