{% extends 'base.html.twig' %}

{% block title %}modifier article{% endblock %}

{% block body %}
    <h2>modifier article</h2>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('article_index') }}">retour a la liste</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
