{% extends 'base.html.twig' %}

{% block title %}nouvel article{% endblock %}

{% block body %}
    <h2>nouvelle article</h2>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}">retour a la liste</a>
{% endblock %}
